/chat_data/migrations/__pycache__/*.pyc
/clipchat/__pycache__/*.pyc
*.pyc
*.un~
*.py~
*.html~
/.idea
/static/build/node_modules
/static/build/.sass-cache/ddc59d8255fbd8d3bf88bb356bf228dc3413e3af/*.scssc
/chat_data/__pycache__/*.pyc
