{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}


		<div id="profileShell">
			<div id="profileContainer">
				{% block messageProfile %}
				{% endblock %}
			</div>
			<div id="messageFormContainer">
				{% block newMessageForm %}
					{% include "post_message" %}
				{% endblock %}
			</div>
		</div>
		<div id="messageFeedShell">
			<div id="messageFeedContainer">
			   {% block messageFeed %}
				{% include "message_feed" %}
			   {% endblock %}
			</div>
		</div>
	 
	{% endif %}
{% endblock %}