{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}


		<div id="profileShell">
			<div id="profileContainer">
				<span class="iconImageContainer">
					<p>Image Place Holder</p>
					 <span class="userIconImage">
					 </span>
				</span>
				<span class="userDataSpan">Welcome : {{ user.username }}</span>
			</div>
			<div id="messageFormContainer">
				{% block newMessageForm %}
					{% include "post_message" %}
				{% endblock %}
			</div>
		</div>
		<div id="messageFeedShell">
			<div id="messageFeedContainer">
			   {% block messageFeed %}
			   {% endblock %}
			</div>
		</div>
	 
	{% endif %}
{% endblock %}