
<div class="messageFeedContainer">
{% for message in messages %}
	{% if message.id|divisibleby:2 %}
		<div class="messageUserDataContainer">
			<span class="iconImageContainer">
			 <span class="userIconImage">
				<img src="https://www.fillmurray.com/100/100" \>
			 </span>
			</span>
			{% for user in users %}
				{% if user.id == message.author_id %}
				<span class="userDataSpan">Name : {{ user.username }}</span>
				{% endif %}
			{% endfor %}
			<span class="userDataSpan">Time Created : {{ message.date_time_created }}</span>
			<div class="messageContainer">
				{{message.message_body }}
			</div>
		</div>
	{% else %}
		<div class="messageUserDataContainer oddCol">
			{% for user in users %}
				{% if user.id == message.author_id %}
				<span class="userDataSpan">Name : {{ user.username }}</span>
				{% endif %}
			{% endfor %}
			<span class="userDataSpan">Time Created : {{ message.date_time_created }}</span>
			<div class="messageContainer">
				{{message.message_body }}
			</div>
			<span class="iconImageContainer">
			 <span class="userIconImage">
				<img src="https://www.fillmurray.com/120/120" \>
			 </span>
			</span>
		</div>
	{% endif %}
{% endfor %}
</div>
